body {
  font-family: "Courier New", Courier, monospace;
  background-image: url("https://images.unsplash.com/photo-1520034475321-cbe63696469a?auto=format&fit=crop&q=80&w=2340&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #1d1f21;
}

.secret-container {
  max-width: 700px;
  margin: 5% auto;
  padding: 20px;
  border-radius: 8px;
  background: linear-gradient(45deg, #222, #1e1e1e);
  color: #a9a9a9;
  border: 1px solid #563df5;
  box-shadow: 0 0 15px 3px rgba(90, 50, 250, 0.6);
}

h1 {
  text-align: center;
  font-size: 2.2rem;
  color: #e0e0e0;
  text-shadow: 0 0 10px #563df5;
}

.riddle {
  background: rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 6px;
  margin: 20px 0;
  border-left: 3px solid #563df5;
}

input {
  width: 96%;
  padding: 12px;
  border: 1px solid #563df5;
  border-radius: 6px;
  background-color: #272727;
  color: #a9a9a9;
  font-size: 1rem;
  transition: all 0.3s ease;
}

input:focus {
  box-shadow: 0 0 10px rgba(90, 50, 250, 0.6);
}

button {
  display: block;
  width: auto;
  padding: 8px 16px;
  margin: 25px auto;
  border: none;
  border-radius: 4px;
  background: linear-gradient(45deg, #563df5, #704fff);
  color: #f0f0f0;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 0.95rem;
  box-shadow: 0 0 10px rgba(90, 50, 250, 0.3);
}

button:hover {
  box-shadow: 0 0 10px rgba(90, 50, 250, 0.8);
}

.feedback-message {
  margin: 15px auto;
  width: fit-content;
  font-weight: bold;
  color: #ff4c4c;
  text-shadow: 0 0 3px #ff4c4c;
}

@media only screen and (max-width: 600px) {
  .secret-container {
    margin: 8% 6%;
  }

  body {
    font-family: "Courier New", Courier, monospace;
    background-image: url("https://images.unsplash.com/photo-1520034475321-cbe63696469a?auto=format&fit=crop&q=80&w=2340&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-attachment: scroll;
    background-color: #1d1f21;
  }

  h1 {
    font-size: 1.6rem;
  }

  .riddle,
  input,
  button {
    margin-top: 10px;
  }
  input {
    width: 95%;
  }
}
