.aboutme-section {
  font-family: "Arial", sans-serif;
  background-color: #21252b;
  color: #a8a8b3;
  padding: 50px 10%;
}

.intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.intro-title {
  font-size: 1.7em;
  margin-bottom: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 2px solid #5bc0de;
  display: inline-block;
  padding-bottom: 5px;
}

.portrait {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s;
  object-fit: cover;
}

.portrait:hover {
  transform: scale(1.05);
}

.bio-container {
  margin-bottom: 50px;
}

.bio-text {
  line-height: 1.6;
  font-size: 1.2em;
}

.atag,
.read-more {
  color: #5bc0de;
  text-decoration: none;
  cursor: pointer;
}

.atag:hover,
.read-more:hover {
  text-decoration: underline;
}

.abilities-container {
  margin-bottom: 30px;
}

.abilities-title-container {
  display: flex;
  justify-content: center;
}

.abilities-title {
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 2px solid #5bc0de;
  display: inline-block;
  padding-bottom: 5px;
}

.abilities-card {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.ability {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin: 0 3%;
  transition: transform 0.3s;
}

.ability:hover {
  transform: scale(1.1);
}

.ability-icon {
  width: 120px;
  height: 120px;
  margin-bottom: 10px;
}

.ability-text {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.3em;
}

@media (max-width: 768px) {
  .ability-icon {
    width: 80px;
    height: 80px;
  }

  .abilities-card {
    justify-content: space-around;
  }

  .ability {
    margin: 0 7%;
  }

  .ability-text {
    font-size: 1rem;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
body {
  font-family: "Roboto Condensed", sans-serif;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap");

.bio-container {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.terminal-window {
  background-color: #000;
  color: #5bc0de;
  font-family: "Courier New", Courier, monospace;
  padding: 10px;
  border-radius: 5px;
  overflow: hidden;
  white-space: pre-wrap;
  line-height: 1.5;
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
  margin-top: 40px;
  font-weight: 600;
}

.cursor {
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: #5bc0de;
  }
}
